{
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "semi": true,

  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-package",
    "prettier-plugin-organize-imports"
  ],

  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false
}
